<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center blue-text">Two Questions</h1>
    <div class="row center">
      <h5 class="header col s12 light">Find better matches by asking the questions that matter most</h5>
    </div>
    <div class="row center">
      <a href="/auth/google_oauth2" id="download-button" class="btn-large waves-effect waves-light blue">Get Started</a>
    </div>
  </div>
</div>


<div class="container">
  <div class="center section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">question_answer</i></h2>
          <h5 class="center">Beyond the right swipe</h5>

          <p class="light">After swiping right on your profile, potential matches must submit responses to the questions on your profile.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">filter_list</i></h2>
          <h5 class="center">Filter out the noise</h5>

          <p class="light">Decide if you're interested after reading responses from potential matches to your profile questions</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">access_time</i></h2>
          <h5 class="center">Save time</h5>

          <p class="light">Don't waste time by matching just on looks, but on the questions that you think matter most</p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>