<footer class="page-footer blue">
  <div class="footer-copyright">
    <div class="container left-align white-text">
    <a class="white-text" href="http://rootstechnology.info/" target="_blank">© 2019 Two Questions</a>
    <a class="white-text right" href="https://forms.gle/idhLLZScPfYuzCMs7" target="_blank">Leave feedback</a>
    </div>
  </div>
</footer>